<div class="top-cart-contain panel_cart">
    <div class="mini-cart text-xs-center">
        <div class="heading-cart">
            <a href="@Url.Action("gioHang","GioHang")">
                <div class="img">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewbox="0 0 50 50" width="50px" xml:space="preserve"><path d="M8,14L4,49h42l-4-35H8z" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" /><rect fill="none" height="50" width="50" /><path d="M34,19c0-1.241,0-6.759,0-8  c0-4.971-4.029-9-9-9s-9,4.029-9,9c0,1.241,0,6.759,0,8" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" /><circle cx="34" cy="19" r="2" /><circle cx="16" cy="19" r="2" /></svg>
                </div>
            </a>
            <div class="info">
                <span class="cart_info">
                    <span class="cartCount count_item_pr" id="cart-total">@ViewBag.TongSoLuong</span>
                </span>
            </div>
        </div>
    </div>
</div>

